body{
    margin: 0%;
}
.nav
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}
#drible
{
    height: 30px;
}
select
{
    width: 120px;
    
    margin-left: 20px;
    font-size: 14px;
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
form
{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 30px;
}
.connexion
{
    width: 20%;
    display: flex;
    justify-content: end;
    margin-right: 5px;
    
   
}
#login
{
    margin-right: 10px;
    border-radius: 20px;
    height: 50px;
    width: 90px;
    color: white;
    background-color: black;
    
}
#signUp
{
    margin-right: 10px;
    border-radius: 30px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: none;
    

    
    
}
span
{
    margin-left: 25px;
}
#Explore
{
    width: 70px;
}
#pink
{
    width: 30px;
}
.pink
{
    display: flex;
    flex-direction: row;
    width: 60%;
    border-radius: 20px;
    padding: 5px;
    border: solid;

}
#shots
{
    width: 60px;
    
}
#what
{
    width:700px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}
.Discover
{
    margin-top: 30px;
    font-size: 65px;
    font-weight: 100;
}

.buton
{
    margin-top: 20px;
}
button
{
    border-radius: 20px;
    background-color: transparent;
}
#popular
{
    margin-left: 20px;
    width: 90px;
    padding: 5px;
    font-size: 16px;
    margin: 0%;
    
   
}
.filters
{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.span
{
    margin-left: 20px;
    font-size: 18px;
}
.foot1
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 2;
}
#logo
{
    height: 20px;
    margin-left: 5px;
}
.details
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card
{
    background: white;
    border-radius: 10px;
    box-shadow: 0 4 8px rgba(0, 0, 0, 0.1);
    padding: 20px;

    overflow: hidden;
    width: 350px;
    transition: transform 0.3s;
    box-shadow: 0.3s;
    z-index: 2;
   
}

.card img
{
    width: 300px;
    border-radius: 10px;
    
}

.tof
{
    padding: 30px;
    display: grid;
    grid-template-columns: 331px 330px 330px 300px;
    grid-template-rows: 290px 290px 290px 290px  290px 290px 290px;
    z-index:1;
    width: 100%;
    
}

.card img:hover

{
    z-index: 3;
    transform: scale(1.1);
}

footer
{
    z-index: 1;
    padding: 10px;
    margin-top: 30px;
}